// $nameColumnWidth:200px;
.adoption-request {
    margin: 10px 0px;
    margin-left: 20px;
    width: 80%;
    &-adopter {
        width: 80%;
    }
    .request-togle {
        background: none;
        margin: 10px 0;
        font-weight: bold;
        font-size: 25px;
        padding: 10px 5px;
        border: none;
        color: orange;
    }
    .request-togle:hover {
        cursor: pointer;
        text-shadow: 3px 0px 7px rgba(101, 204, 207, 0.7);
    }
    &-list {
        border-bottom: 1px solid black;
        // width: 300px;
    }
    & a {
        text-decoration: none;
        color: #000;
    }
    & .adoption-request-preview {
        padding: 5px 0;
    }
    & .adoption-request-preview:nth-child(even) {
        background-color: rgba(243, 193, 127, 0.452);
    }
    & .adoption-request-list {
        & .requests-header {
            font-weight: bold;
            padding: 10px 0;
            overflow: auto;
            white-space: nowrap;
        }
        & li {
            margin-bottom: 16px;
            & .request-info {
                overflow: auto;
                white-space: nowrap;
            }
            & .adoption-request-action {
                font-size: 13px;
                padding: 3px 6px;
                color: orange;
                background-color: white;
                border: 1px solid orange;
                font-family: quicksand;
                &:hover {
                    color: white;
                    background-color: orange;
                }
            }
        }
    }
}

// .adoption-request-preview {
//     flex-wrap: wrap;
// }
// .requsted-id {
//     width: 120px;
//     display: none;
// }
.requsted-by {
    flex: 0 0 150px;
}

.requsted-pet {
    flex: 1 0 0px;
}

.requsted-at {
    flex: 1 0 120px;
}

.requsted-status {
    flex: 0 0 120px;
}

.approve,
.decline {
    width: 70px;
    border-radius: 10px;
    text-align: center;
    & img {
        width: 20px;
        border-radius: 5px;
        // object-fit: contain;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    & img:hover {
        cursor: pointer;
        background-color: rgba(181, 251, 224, 0.678);
    }
}

.boldit {
    font-family: quicksand-medium;
}

.approve-btn {
    background-color: rgba(1, 218, 1, 0.822);
    color: white;
    border: 1px solid rgba(1, 218, 1, 0.822);
    margin-left: 5px;
    border-radius: 3px;
    font-size: 1rem;
    // margin-bottom: 4px;
}

.decline-btn {
    background-color: rgb(240, 66, 66);
    color: white;
    border: 1px solid rgb(240, 66, 66);
    border-radius: 3px;
    margin-left: 5px;
    // margin-bottom: 4px;
    font-size: 1rem;
}

.delete-btn {
    & img {
        width: unset;
    }
}

.message-btn {
    // background-color: orange;
    // border: 1px solid orange;
    // color: white;
    border-radius: 3px;
    // font-size: 1rem;
    // margin-bottom: 4px;
    border-radius: 3px;
    margin-left: 5px;
    padding: 1px 6px;
    & img {
        width: unset;
    }
}

// @media only screen and (max-width: 650px) {
//     .adoption-request {
//         margin: 0 auto;
//     }
//     .adoption-request-list {
//         display: flex;
//         flex-flow: wrap;
//     }
//     .requests-header {
//         font-weight: bold;
//         padding: 10px 0;
//     }
//     .requsted-id {
//         width: 80px;
//         display: none;
//     }
//     .requsted-by {
//         width: 80px;
//     }
//     .requsted-pet {
//         width: 150px;
//     }
//     .requsted-at {
//         width: 150px;
//     }
//     .requsted-status {
//         width: 80px;
//     }
//     .prev-content {
//         flex-flow: wrap;
//     }
//     .request-togle {
//         font-weight: bold;
//         font-size: medium;
//         padding: 3px 0;
//     }
// }
@media only screen and (max-width: 375px) {
    .adoption-request-preview {
        flex-direction: column;
    }
    .adoption-request {
        margin: 0 auto;
        padding-top: 0px;
        & .request-togle {
            font-weight: bold;
            font-size: 20px;
            padding: 5px 5px;
        }
        & .adoption-request-list {
            display: flex;
            flex-flow: wrap;
            & .requests-header {
                font-weight: bold;
                padding: 10px 0;
                overflow: visible;
                white-space: unset;
            }
            & .adoption-request-preview {
                align-items: flex-start;
            }
        }
    }
    .requsted-by {
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .requsted-pet {
        width: 100px;
    }
    .requsted-at {
        width: 80px;
    }
    .requsted-status {
        width: 80px;
    }
    .prev-content {
        flex-flow: wrap;
    }
    .request-togle {
        font-weight: bold;
        font-size: medium;
        padding: 3px 0;
    }
}

// .button-badge {
//     background-color: #1779ba;
//     text-decoration: none;
//     padding: 1rem 1.5rem;
//     position: relative;
//     display: inline-block;
//     border-radius: .2rem;
//     transition: all ease 0.4s;
//   }
.button-badge:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.badge {
    position: absolute;
    top: -14px;
    right: -4px;
    font-size: 0.8em;
    border: 1px solid black;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    text-align: center;
    background: red;
    color: white;
    font-weight: bold;
}