.user {
    &-profile-picture {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.bold {
    font-family: quicksand-medium;
}

.owner-details {
    padding-top: 100px;
}

.ownerDescription {
    line-height: 1.5;
}

.star {
    width: 30px;
    // filter: invert(87%) sepia(24%) saturate(3762%) hue-rotate(358deg) brightness(102%) contrast(103%);
}

.rating-num {
    font-weight: bold;
}

.number-of-ratings {
    color: lightgray;
    padding: 5px;
}

.welcome {
    text-align: center;
    font-size: 2rem;
}

.owner-action {
    float: right;
}

.request-togle {
    font-weight: bold;
    font-size: large;
    padding: 10px 0;
}

.request-togle:hover {
    cursor: pointer;
}

.owner-info {
    padding: 0 20px;
    margin-left: 20px;
}

.adopter-details {
    padding-top: 100px;
}

.adoption-request {
    &-list {
        border-bottom: 1px solid black;
        // width: 300px;
    }
    & a {
        text-decoration: none;
        color: #000;
    }
}

.requests-header {
    font-weight: bold;
    padding: 10px 0;
}

// .requsted-id {
//     width: 50px;
// }

.requsted-by {
    width: 100px;
}

.requsted-pet {
    width: 100px;
}

.requsted-at {
    width: 150px;
}

.requsted-status {
    width: 100px;
}

.approve,
.decline {
    width: 70px;
    border-radius: 10px;
    text-align: center;
    & img {
        width: 20px;
        border-radius: 5px;
        // object-fit: contain;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    & img:hover {
        cursor: pointer;
        background-color: rgba(181, 251, 224, 0.678);
    }
}

.addPet {
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    color: white;
    border: 1px solid orange;
    background-color: orange;
    font-family: quicksand-bold;
    text-align: center;
    display: flex;
    text-decoration: none;
    border-radius: 4px;
}

.addPet:focus,
.addPet:hover {
    background-color: white;
    border: 1px solid orange;
    color: orange;
}

// .decline {
//     width: 20px;
//     border-radius: 10px;
//     & img {
//         width: 20px;
//         border-radius: 10px;
//     }
//     & img:hover {
//         cursor: pointer;
//         background-color: rgba(219, 255, 241, 0.698);
//     }
// }
// .owner-imgs{
//     width: 400px;
//     height: 300px;
//     border: 1px solid black;
// }
// .owner-details-images{
//     display: grid;
//     height: 60vh;
//     grid-template-columns: repeat(4,1fr);
//     grid-template-rows: repeat(2,1fr);
//     grid-gap: 10px;
//     grid-auto-flow: dense;
//     object-fit: cover;
//     height: 100%;
//     margin-top: 20px;
// }