$cardWidth:300px;
.pet-card {
    position: relative;
    border: 1px solid black;
    border: 1px solid sandybrown;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
    width: $cardWidth;
    & .male {
        filter: invert(34%) sepia(13%) saturate(2927%) hue-rotate(183deg) brightness(92%) contrast(95%);
    }
    & .female {
        filter: invert(23%) sepia(39%) saturate(4216%) hue-rotate(287deg) brightness(95%) contrast(84%);
    }
    & .treats-count {
        padding: 10px;
    }
    & a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    & .card-info {
        padding: 10px;
        height: 50%;
    }
    & .adopted {
        position: absolute;
        top: 0;
    }
}

.card-img {
    width: $cardWidth;
    height: 260px;
    padding: 10px;
    border-radius: 20px;
    object-fit: cover;
}

.card-img:hover {
    cursor: pointer;
}

.svg-symbol {
    width: 30px;
    height: 30px;
    filter: invert(100%) sepia(2%) saturate(1048%) hue-rotate(111deg) brightness(77%) contrast(98%);
}

.treat:hover {
    cursor: pointer;
}

.treatClicked {
    // filter: invert(70%) sepia(43%) saturate(3723%) hue-rotate(65deg) brightness(113%) contrast(96%);
    filter: invert(78%) sepia(9%) saturate(2434%) hue-rotate(115deg) brightness(78%) contrast(92%);
}