$cardWidth:300px;
.pet-card {
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
    width: $cardWidth;
    & .male {
        filter: invert(34%) sepia(13%) saturate(2927%) hue-rotate(183deg) brightness(92%) contrast(95%);
    }
    & .female {
        filter: invert(23%) sepia(39%) saturate(4216%) hue-rotate(287deg) brightness(95%) contrast(84%);
    }
    & .treats-count {
        padding: 10px;
    }
    & a {
        text-decoration: none;
        color: blue;
        font-weight: bold;
    }
}

.card-img {
    width: $cardWidth;
    height: 230px;
}

.svg-symbol {
    width: 30px;
    height: 30px;
    filter: invert(100%) sepia(2%) saturate(1048%) hue-rotate(111deg) brightness(77%) contrast(98%);
}

.treat:hover {
    cursor: pointer;
}

.treatClicked {
    filter: invert(70%) sepia(43%) saturate(3723%) hue-rotate(65deg) brightness(113%) contrast(96%);
}