.pet-filter {
    // position: relative;
    // margin: 10px;
    & div {
        // flex: 1 1 0px
        display: flex;
        justify-content: center;
    }
}

.filters-togglebutton {
    cursor: pointer;
    font-family: quicksand-medium;
    font-size: 1rem;
    color: gray;
    align-items: center;
    margin-inline-start: 10px;
    text-decoration: underline;
}

.favorite-btn .like-svg .favorite{
    margin: 0;
}



.el-input{
    font-family: quicksand;
    width: fit-content;
}

.el-input__inner {
    border: 1px solid #c8cbd2;
    font-family: quicksand;
    width: fit-content;
    font-size: 1rem;


}

.el-input--suffix .el-input__inne {
    // border: 1px solid orange;
    border: 1px solid #c8cbd2;
    width: fit-content;

}

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
    border: 1px solid orange;
}

.el-select .el-input.is-focus .el-input__inner {
    border: 1px solid orange;
}

.more-filters{
    margin-block-start: 10px;
}
.filters{
    width: 400px
}

.favorite-btn{
    border: 1px solid #c8cbd2;    
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    color:#c8cbd2;
    font-size: inherit;
}

.shown-filters{
    width: fit-content;
}