.details-container{
    // max-width: 1000px;
    margin: 0 auto;
    padding-inline-start: 40px;
    padding-inline-end: 40px;

    ul li{
        list-style-type: none;
    }

    .owner-img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

    .breed-icon{
        height: 30px;
        width: 30px;
    }


    .svg-symbol {
        width: 30px;
        height: 30px;
        filter: invert(100%) sepia(2%) saturate(1048%) hue-rotate(111deg) brightness(77%) contrast(98%);
    }
    
    .treat:hover {
        cursor: pointer;
    }
    
    .treatClicked {
        filter: invert(78%) sepia(9%) saturate(2434%) hue-rotate(115deg) brightness(78%) contrast(92%);    }


}


.details-images {
    display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-flow: dense;
        object-fit: cover;
        height: 100%;
        margin-top:20px;
        margin-bottom: 20px;    
    img{
        border-radius: 10px;
    }

    .item0 { grid-area: 1 / 1 / 3 / 3;    
        //  height: 100%;
        // object-fit: cover;
    }
    .item1 { grid-area: 1 / 3 / 2 / 4; 
        height: 100%;
    object-fit: cover;
    }
    .item2 { grid-area: 1 / 4 / 2 / 5; 
        height: 100%;
    object-fit: cover;
    }
    .item3 { grid-area: 2 / 3 / 3 / 4; 
        height: 100%;
    object-fit: cover;
    }
    .item4 { grid-area: 2 / 4 / 3 / 5; 
        height: 100%;
    object-fit: cover;
    }

}

.details{
    h1{
        // background-color: burlywood;
        background-image: linear-gradient(to top, #ffb188, #ffb391, #ffb69b, #ffb9a4, #ffbcac, #ffb9a6, #ffb79f, #ffb499, #ffad7f, #ffa862, #ffa540, #ffa500);
        text-align: center;
        padding: 20px;
        font-family: quicksand;
        font-size: 2rem;
        font-weight: 400;
       

    }
}