.home {
    margin: auto 0;
}

.homepage-pet-list {
    $cardWidth: 300px;
    background-color: #f8f8f8;
    padding: 20px;
    margin: 20px;
    & .pet-list {
        width: 80%;
        & .pet-card {
            width: $cardWidth;
            height: 350px;
            justify-content: flex-start;
            & .card-img {
                width: $cardWidth;
                height: 250px;
                // object-fit: contain;
            }
            & .pet-description {
                display: none;
            }
            & .card-info {
                margin: 0 5px;
                padding: 0 5px;
                justify-content: flex-start;
                & h3 {
                    margin: 5px;
                    padding: 5px;
                    font-size: 20px;
                }
            }
        }
    }
}

.pets-of-the-week {
    text-align: center;
    color: orange;
}

.adopt-container {
    justify-content: center;
}

.adopt-reasons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    // padding-bottom: 20px;
    font-family: quicksand;
    background-image: linear-gradient(to top, #ffb188, #ffb391, #ffb69b, #ffb9a4, #ffbcac, #ffb9a6, #ffb79f, #ffb499, #ffad7f, #ffa862, #ffa540, #ffa500);
    color: #292929;
    font-size: 1.2rem;
    // border: 1px solid orange;
    max-width: 600px;
    padding: 20px;
    border: 1px solid orange;
    border-radius: 5px;
    margin: 10px;
    p {
        margin: 10px;
        font-size: 1.3rem;
        padding: 10px;
        border-radius: 10px;
        height: fit-content;
    }
}

.adopt-reasons button {
    color: orange;
    text-decoration: none;
    border: 1px solid orange;
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px;
    font-size: large;
    font-family: quicksand-bold;
    font-size: bold;
}

.adopt-reasons button:hover {
    background-color: palegoldenrod;
}

.adopt-reasons h1 {
    width: 250px;
    height: 250px;
    background-color: #fff;
    border-radius: 50%;
    padding: 70px;
    background-color: seashell;
    color: orange;
    text-align: center;
    .adopt-circle {
        font-weight: quicksand-medium;
    }
}

.testimonies {
    display: flex;
    // justify-content: center;
    flex-direction: column;
}

.testimony {
    display: flex;
    padding: 20px;
    border: 1px solid orange;
    border-radius: 5px;
    margin: 10px;
    width: 600px;
    font-size: 1.3rem;
    // background-color: sandybrown;
    background-image: linear-gradient(to top, #ffb188, #ffb391, #ffb69b, #ffb9a4, #ffbcac, #ffb9a6, #ffb79f, #ffb499, #ffad7f, #ffa862, #ffa540, #ffa500);
    p {
        padding-left: 20px;
        padding-right: 20px;
    }
    h1 {
        text-align: center;
    }
    img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.our-pets-btn {
    background-color: orange;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    // text-align: center;
    display: flex;
    justify-content: center;
    font-family: quicksand-medium;
    font-size: large;
    &:hover {
        background-color: white;
        color: orange;
        border: 1px solid orange;
    }
}

.heart li {
    list-style-type: circle;
    font-size: 1.5rem;
}