
.home {
    margin: auto 0;

    
}

.homepage-pet-list{
    background-color: #f8f8f8;
    padding: 20px;
    margin: 20px;
}

.pets-of-the-week{
    text-align: center;
    color: orange;
}

.adopt-container{
    justify-content: center;
}

.adopt-reasons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: large;
    // padding-bottom: 20px;
    font-family: quicksand-medium;
    background-image: linear-gradient(to top, #ffb188, #ffb391, #ffb69b, #ffb9a4, #ffbcac, #ffb9a6, #ffb79f, #ffb499, #ffad7f, #ffa862, #ffa540, #ffa500);
    color: black;
    // border: 1px solid orange;
    max-width: 600px;
    padding: 20px;
    border: 1px solid orange;
    border-radius: 5px;
    margin: 10px;


    p{
    margin: 10px;
    // border: 3px solid white;
    padding: 10px;
    border-radius: 10px;
    // max-width: 400px;
    height: fit-content;
    }
}
.adopt-reasons button{
    color: orange;
    text-decoration: none;
    border: 1px solid orange;
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px;
    font-size: large;
    font-family: quicksand-bold;
    font-size: bold;

}

.adopt-reasons button:hover{
   background-color: palegoldenrod;
}
.adopt-reasons h1{
    width: 250px;
    height: 250px;
    background-color: #fff;
    border-radius: 50%;
    padding: 70px;
    background-color: seashell;
    color: orange;
    text-align: center;


}



.testimonies {
    display: flex;
    // justify-content: center;
    flex-direction: column;

}

.testimony{
    display: flex;
    padding: 20px;
    border: 1px solid orange;
    border-radius: 5px;
    margin: 10px;
    width: 600px;
    // background-color: sandybrown;
    background-image: linear-gradient(to top, #ffb188, #ffb391, #ffb69b, #ffb9a4, #ffbcac, #ffb9a6, #ffb79f, #ffb499, #ffad7f, #ffa862, #ffa540, #ffa500);


    p{
        padding-left: 20px;
        padding-right: 20px; 
    }
    h1{
        text-align: center;
    }

    img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    }
}

// .testimony img{
//     height: 200px;
//     width: 200px;
//     border-radius: 50%;
//     object-fit: cover;
// }

// .testimony-p{
//     padding-left: 20px;
//     padding-right: 20px;
// }

.our-pets-btn{
    background-color: orange;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    // text-align: center;
    display: flex;
    justify-content: center;
    font-family: quicksand-medium;
    font-size: large;
   
    &:hover{
        background-color: white;
        color: orange;
        border: 1px solid orange;
    }

}

.heart li{
list-style-type: circle;
}


    // .heart {
    //     position: relative;
    //     // width: 300px;
    //     // height: 200px;
    //   }
    //   .heart:before,
    //   .heart:after {
    //     position: absolute;
    //     content: "";
    //     left: 50px;
    //     top: 0;
    //     width: 50px;
    //     height: 80px;
    //     background: pink;
    //     border-radius: 50px 50px 0 0;
    //     transform: rotate(-45deg);
    //     transform-origin: 0 100%;
    //   }
    //   .heart:after {
    //     left: 0;
    //     transform: rotate(45deg);
    //     transform-origin: 100% 100%;
    //   }