* {
    box-sizing: border-box;
}
html {
    // font-family: "Courier New", Courier, monospace;
    font-family: quicksand;
    // We will select our font
}

body {
    margin: 0;
}

img {
    width: 100%;
}

@font-face{
    font-family: quicksand;
    src: url('~@/assets/fonts/Quicksand/static/Quicksand-Regular.ttf');
}

