.flex {
    display: flex;

    &.space-around {
        justify-content: space-around;
    }

    &.flex-start{
        justify-content: flex-start;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }

    &.column {
        flex-direction: column;
    }

    &.reverse {
        flex-direction: row-reverse;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.justify-center {
        justify-content: center;
    }
}

.bold {
    font-weight: bold;
}

.grid {
    display: grid;
}
