.pet-details-age {
    margin-right: 20px
}

.pet-details-gender {
    margin-right: 20px;
}

.pet-details-p {
    margin: unset;
    margin-top: 10px;
}

.comments-container {
    background-color: white;
}

// .pet-like-btns{
//     margin: 10px;
// }
.el-button {
    border: 1px solid orange;
    background-color: orange;
    color: white;
    &.add-pet {
        padding: 10px;
        font-size: 2rem;
        color: white;
        border: 1px solid orange;
        background-color: orange;
        font-family: quicksand-bold;
        text-align: center;
        display: flex;
        .el-message-box__close:hover {
            color: orange;
        }
    }
    &.delete-adoption-request {
        font-size: 13px;
        padding: 4.5px 6px;
        color: orange;
        background-color: white;
        border-radius: unset;
        font-family: quicksand;
        display: flex;
        text-indent: 0px;
        margin: 0em;
        border-inline: 1px solid orange;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
    }
}

.el-button--primary:focus,
.el-button--primary:hover,
.delete-adoption-request:hover {
    background-color: orange;
    border: 1px solid orange;
    color: white;
    // &.delete-adoption-request:hover{
    //     background-color: orange;
    //     border: 1px solid orange;
    // }
}

.el-button--primary.is-active,
.el-button--primary:active,
.el-button--primary:focus,
.el-button--primary {
    font-size: 1rem;
}

.el-button--text:focus,
.el-button--text:hover {
    background-color: white;
    border: 1px solid orange;
    color: orange;
    &.delete-adoption-request:hover {
        background-color: white;
        border: 1px solid orange;
        color: orange;
    }
}

.el-message-box__headerbtn:hover .el-message-box__close:hover {
    color: orange;
}

.el-message-box__headerbtn:active .el-message-box__close:active {
    color: orange;
}

.el-message-box__message {
    font-family: quicksand-bold;
}

.treats-count {
    margin-left: 5px;
    margin-right: 10px;
}

.treat-btn {
    background-color: orange;
    border: 1px solid orange;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: quicksand;
    font-size: 1.2rem;
    outline: none;
    &:hover {
        background-color: white;
        color: orange;
    }
     :focus {
        border: 1px solid orange;
    }
}

.pet-details-name {
    font-family: quicksand-medium;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 2px;
    .details h1 {
        background-color: white;
    }
}

.pet-about {
    font-size: 25px;
    align-items: flex-end;
    margin: unset;
    // color: orange;
    // text-decoration: underline;
    // margin-bottom: 0;
    // padding-left: 10px;
}

.svg-symbol .details-treat-likes {
    width: 30px;
    height: 30px;
}

.pet-about-details {
    margin-top: 20px;
    align-items: flex-end;
    margin-bottom: 20px;
}

.pet-about-p {
    // padding: 10px;
    line-height: 1.5;
    color: rgb(56, 56, 56);
}

.pet-details-container {
    width: 100%;
    height: 100%;
    margin-inline-end: 20px;
    .details h1 {
        background-color: white;
    }
    hr {
        border: 1px solid beige;
    }
}

.petowner-details-container {
    // text-align: center;
    padding: 5px;
}

// .comment-input {
//     margin-left: 40px;
// }
.rendered-comments {
    padding: 0;
}

.enter-comment-btn {
    background-color: orange;
    border: 1px solid orange;
    color: white;
    border-radius: 5px;
    padding: 2px;
    margin-left: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: quicksand;
    font-size: 1rem;
    &:hover {
        color: orange;
        background-color: white;
        border: 1px solid orange;
    }
}

.comment-input {
    font-family: quicksand;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid orange
}

.help-pet {
    button,
    .share {
        padding: 10px;
        margin: 10px;
        color: orange;
        background-color: white;
        text-align: center;
        display: flex;
        border-radius: 5px;
        border: 1px solid orange;
        text-decoration: none;
    }
    .sponsor {
        font-family: quicksand;
        font-size: 1rem;
    }
     :hover {
        // color: white;
        // background-color: orange;
        cursor: pointer;
    }
}

hr {
    border: 1px solid beige;
}

.location-svg,
.email-svg,
.phone-svg {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.share-svg {
    filter: invert(74%) sepia(25%) saturate(6714%) hue-rotate(360deg) brightness(103%) contrast(105%);
    height: 30px;
    width: 30px;
    margin: 10px;
    // &::after{
    // }
}

.like-svg {
    height: 30px;
    width: 30px;
}

.gender-svg,
.age-svg,
.breed-svg {
    height: 30px;
    width: 50px;
}

.save-pet {
    margin-top: 10px;
    background-color: orange;
    padding: 10px;
    button {
        border: none;
        background-color: orange;
    }
}

.like-svg .favorite {
    margin: 10px;
}

.likes-adopt-container {
    height: 100%;
    width: 40%;
    margin-inline-start: 30px;
}

.pet-details-owner-name {
    font-size: 1rem;
    text-decoration: none;
    background-color: white;
    padding-top: 10px;
    color: orange;
    font-family: quicksand-medium;
    cursor: pointer;
}

.pet-owner-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

// .petowner-details-container{
//     align-items: center;
//     display: flex;
//     flex-direction: column;
//     width: fit-content;
// }
@media only screen and (max-width: 420px) {
    .bio-adoption-container {
        max-width: 350px;
        flex-direction: column;
        margin: 0 auto;
        & h1 {
            font-size: 1.2rem;
        }
        & h4 {
            display: none;
        }
        & .pet-bio-container {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: center;
        }
        & .pet-details-age {
            margin-right: 5px;
            font-size: small;
            & img {
                width: 15px;
            }
        }
        & .pet-details-gender {
            margin-right: 5px;
            font-size: small;
            & img {
                width: 15px;
            }
        }
        & .pet-details-p {
            margin: unset;
            margin-top: 0px;
            font-size: small;
            & img {
                width: 15px;
            }
        }
        & .pet-details-breed {
            margin: unset;
            font-size: small;
            & img {
                width: 15px;
            }
        }
        & small {
            display: none;
        }
        & .pet-about-details {
            margin: 0 auto;
            justify-content: space-around;
        }
    }
    .likes-adopt-container {
        margin: 0 auto;
        // & .petowner-details-container {
        // }
    }
}