
.pet-details-container, .petowner-details-container, .comments-container{
    border: 1px solid orange;
    margin: 20px;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
}

.bio-adoption-container{
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f8f8f8;
    justify-content: space-between;
    padding: 20px;
}

.el-button{
   padding: 10px;
    font-size: large;
    color: white;
    background-color: orange;
    font-family: quicksand-bold;

    &:hover{
        background-color: white;
        color: orange;
        border: 1px solid orange;
    }

    .el-message-box__close:hover{
        color: orange;
    }

}

.el-button--primary:focus, .el-button--primary:hover{
    color: orange;
    background-color: white;
    border: 1px solid orange;
}

.el-button--text:focus, .el-button--text:hover {
    color: orange;
    background-color: white;
    border: 1px solid orange;
}

.el-button--primary:hover{
    background-color: white;
    border: 1px solid orange;
    color: orange;
}

.el-message-box__headerbtn:hover .el-message-box__close:hover{
color: orange;
}

.el-message-box__headerbtn:active .el-message-box__close:active{
    color: orange;
}

.el-button--primary.is-active, .el-button--primary:active, .el-button--primary:focus, .el-button--primary{
    color: white;
    background-color: orange;
    border-color: orange;
}


.el-message-box__message{
    font-family: quicksand-bold;
}

.treat-btn{
    background-color: #39b89e;
    border:1px solid #39b89e ;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;

    &:hover{
        background-color: white;
        color: #39b89e;
    }
}

.pet-details-name{
    font-family: quicksand-medium;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 2px;

   .details h1{
        background-color: white;
    }
}

.pet-about{
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 0
}


.pet-details-container{
   flex-grow: 1;

    .details h1{
        background-color: white;
    }

    hr{
        border: 1px solid beige;

    }

}

.petowner-details-container{
    text-align: center;
}

.comment-input{
    margin-left: 40px;
}

