.el-carousel__container {
    position: relative;
    height: 500px;
    width: 100%;
    // max-height: fit-content;

    img{
        width: 100%;
        // object-fit: cover;
        object-fit: contain;
        height: 100%;
    }
    
}

