.logo{
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    color: #292929;
    // text-transform: uppercase;


}


.nav-link{
color: orange;
text-decoration: none;
// border: 1px solid orange;
padding: 5px;
margin-left: 2px;
margin-right: 2px;
border-radius: 5px;
background-color: white;
cursor: pointer;
}

.nav-link:hover{
    color: white;
    background-color: orange;
}

.navbar{
margin-top: 6px;
// background-color: white;

}
.header{
// border: 1px solid orange;  
border-radius: 5px;
padding: 20px 40px;
margin-bottom: 5px;
margin-top: 5px;
// background-color: #f8f8f8;
background-color: inherit;

}

.logo span{
    color: orange;
}