.header {
    padding: 20px 0px;
    z-index: 1;
    .logo {
        font-size: 2rem;
        font-weight: 400;
        text-decoration: none;
        color: #292929;
        span {
            color: orange;
        }
    }
    .navbar {
        display: flex;
        align-self: center;
        .nav-link {
            background-color: white;
            color: orange;
            text-decoration: none;
            padding: 5px;
            margin-left: 2px;
            margin-right: 2px;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                color: white;
                background-color: orange;
            }
        }
    }
}

.avatar:hover {
    cursor: pointer;
}

.user-droped-menu {
    position: fixed;
    transform: translateX(-40px);
}

.nav {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}